# WEB ENV VARS

# Get these from a PoetryVerse team member
NEXT_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Get this from your local postgres instance
DATABASE_URL=

# URL for the backend API
NEXT_PUBLIC_API_URL=http://localhost:3001

# URL for NextAuth (set to canonical URL of the web app)
NEXTAUTH_URL=http://localhost:3000
