# Shared Docker Compose variables (development)
POSTGRES_USER=poetryverse
POSTGRES_PASSWORD=poetryverse-pg-2
POSTGRES_DB=poetryverse
POSTGRES_HOST_PORT=5432

# Node.js application environment
NODE_ENV=development
