# API ENV VARS
PORT=3001
NODE_ENV=dev
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000

# Get this from your local postgres instance
DATABASE_URL=

# Get these from the "env" discord channel
GEMINI_API_KEY=
NEXT_AUTH_SECRET=
