# API ENV VARS
PORT=3001
NODE_ENV=production

# Get this from your local postgres instance
DATABASE_URL=postgresql://poetryverse:poetryverse-pg-2@db:5432/poetryverse?schema=public

# AI API key
GEMINI_API_KEY=